<section id="section-header" class="header">
	<!-- player info -->
<div class="player-battle-info">
	<img alt="Brand" src="../img/logo-small.png">
	<ul id="player-battle-info">
	</ul>
</div>
<ul>
	<li class="user-online"><a class="x-fadeIn show-modal-cashier" href="#" data-toggle="tooltip" data-placement="bottom" title="cashier"><i class="far fa-exchange"></i></a></li>
	<li><a class="x-fadeIn show-modal-rooms" href="#" data-toggle="tooltip" data-placement="bottom" title="rooms"><i class="fas fa-globe-americas"></i></a></li>
	<li><a href="#" class="show-modal-leaderboard x-fadeIn" data-toggle="tooltip" data-placement="bottom" title="leaderboard"><i class="fas fa-trophy"></i></a></li>
	<li class="user-online"><a class="x-fadeIn show-modal-settings" href="#" data-toggle="tooltip" data-placement="bottom" title="settings"><i class="fas fa-user"></i></a></li>
	<li class="user-online"><a class="x-fadeIn show-modal-balance" href="#" data-toggle="tooltip" data-placement="bottom" title="balance"><i class="fab fa-bitcoin"></i></a></li>
	<li class="user-online"><a class="x-fadeIn show-modal-settings" href="#" data-toggle="tooltip" data-placement="bottom" title="settings"><i class="fas fa-cog"></i></a></li>
	<li class="user-online"><a class="x-fadeIn show-modal-back-home" href="#" data-toggle="tooltip" data-placement="bottom" title="Exit"><i class="fas fa-power-off"></i></a></li>
	{{!-- <li class="user-offline"><a id="header-login" href="#">Login</a></li> --}}
</ul>
</section>