<section id="section-header" class="header">
<ul>
	<li class="user-online"><a id="header-cashier" href="#" class="x-fadeIn" data-toggle="tooltip" data-placement="bottom" title="cashier"><i class="far fa-exchange"></i></a></li>
	<li><a id="header-rooms" href="#" class="x-fadeIn" data-toggle="tooltip" data-placement="bottom" title="rooms"><i class="fas fa-globe-americas"></i></a></li>
	<li><a id="header-leaderboard" href="#" class="x-fadeIn" data-toggle="tooltip" data-placement="bottom" title="leaderboard"><i class="fas fa-trophy"></i></a></li>
	<li class="user-online"><a id="header-profile" href="#" class="x-fadeIn" data-toggle="tooltip" data-placement="bottom" title="profile"><i class="fas fa-user"></i></a></li>
	<li class="user-online"><a id="header-balance" href="#" class="x-fadeIn" data-toggle="tooltip" data-placement="bottom" title="balance"><i class="fab fa-bitcoin"></i></a></li>
	<li class="user-online"><a id="header-settings" href="#" class="x-fadeIn" data-toggle="tooltip" data-placement="bottom" title="settings"><i class="fas fa-cog"></i></a></li>
	<li class="user-online"><a id="header-disconnect" href="#" class="x-fadeIn" data-toggle="tooltip" data-placement="bottom" title="log out"><i class="fas fa-power-off"></i></a></li>
	<li class="user-offline"><a id="header-login" href="#">Login</a></li>
</ul>
</section>