<section id="section-menu" class="menu x-fadeIn">
	<div class="logo"><img src="./img/logo-intro.png"></div>
	<div class="logo-bkg"><img src="./img/logo-bkg.png"></div>
	<ul>
		<li class="user-online"><a class="btn-respawn active" href="#">spawn now!</a></li>
		<li class="user-offline"><a class="modal-manager" href="#new-user" class="active">login</a></li>
		<li class="user-online"><a class="modal-manager" href="#balance">balance</a></li>
		<li class="user-online"><a class="modal-manager" href="#settings">settings</a></li>
		<li class="user-online"><a class="modal-manager" href="#cashier">cashier</a></li>
		<li><a class="modal-manager" href="#online-players">online players</a></li>
		<li><a class="modal-manager" href="#rooms">rooms</a></li>
		<li><a class="modal-manager" href="#leaderboard">leaderboard</a></li>
		<li><a class="modal-manager" href="#credits">game credits</a></li>
		<li class="user-online"><a class="modal-manager" href="#disconnect">disconnect</a></li>
	</ul>
</section>