<div class="menu-left">
	<ul>
		<li class="user-offline"><a class="modal-manager new-user" href="#new-user"><i class="fas fa-sign-in"></i> <span>login</span></a></li>
		{{!-- <li class="user-online"><a class="btn-respawn active" href="#">resume</a></li> --}}
		<li class="user-online"><a class="modal-manager online-players menu-active" href="#online-players"><i class="far fa-gamepad"></i> <span>continue</span></a></li>
		<li class="user-online"><a class="modal-manager cashier" href="#cashier"><i class="far fa-exchange"></i> <span>cashier</span></a></li>
		<li><a class="modal-manager rooms" href="#rooms"><i class="fas fa-globe-americas"></i> <span>servers</span></a></li>
		<li class="user-online"><a class="modal-manager profile" href="#profile"><i class="fas fa-user"></i> <span>profile</span></a></li>
		<li class="user-online"><a class="modal-manager balance" href="#balance"><i class="fab fa-bitcoin"></i> <span>balance</span></a></li>
		<li class="user-online"><a class="modal-manager settings" href="#settings"><i class="fas fa-cog"></i> <span>settings</span></a></li>
		<li><a class="modal-manager leaderboard" href="#leaderboard"><i class="fas fa-trophy"></i> <span>leaderboard</span></a></li>
		<li><a class="modal-manager credits" href="#credits"><i class="far fa-copyright"></i> <span>game credits</span></a></li>
		<li class="user-online"><a class="modal-manager feedback" href="#feedback"><i class="far fa-question-circle"></i> <span>feedback</span></a></li>
		<li class="user-online"><a class="modal-manager disconnect" href="#disconnect"><i class="fas fa-power-off"></i> <span>disconnect</span></a></li>
	</ul>
</div>
