<section id="section-menu" class="menu x-fadeIn">
	<div class="logo"><img src="/img/logo-intro.png"></div>
	<div class="logo-bkg"><img src="/img/logo-bkg.png"></div>
	<ul>
		<li class="user-online"><a id="btn-respawn-home" href="#" class="active">spawn now!</a></li>
		<li class="user-offline"><a id="header-login" href="#" class="active">login</a></li>
		<li class="user-online"><a id="header-settings" href="#">settings</a></li>
		<li class="user-online"><a id="header-cashier" href="#">cashier</a></li>
		<li><a id="header-online-players" href="#">online players</a></li>
		<li><a id="header-rooms" href="#">rooms</a></li>
		<li><a id="header-leaderboard" href="#">leaderboard</a></li>
		<li><a id="header-credits" href="#">game credits</a></li>
		<li class="user-online"><a id="header-disconnect" href="#">disconnect</a></li>
	</ul>
</section>