<div class="menu-left">
	<ul>
		<li class="user-offline"><a class="modal-manager new-user" href="#new-user"><i class="fas fa-sign-in"></i> login</a></li>
		{{!-- <li class="user-online"><a class="btn-respawn active" href="#">resume</a></li> --}}
		<li class="user-online"><a class="modal-manager online-players menu-active" href="#online-players"><i class="far fa-gamepad"></i> continue</a></li>
		<li class="user-online"><a class="modal-manager cashier" href="#cashier"><i class="far fa-exchange"></i> cashier</a></li>
		<li><a class="modal-manager rooms" href="#rooms"><i class="fas fa-globe-americas"></i> servers</a></li>
		<li class="user-online"><a class="modal-manager profile" href="#profile"><i class="fas fa-user"></i> profile</a></li>
		<li class="user-online"><a class="modal-manager balance" href="#balance"><i class="fab fa-bitcoin"></i> balance</a></li>
		<li class="user-online"><a class="modal-manager settings" href="#settings"><i class="fas fa-cog"></i> settings</a></li>
		<li><a class="modal-manager leaderboard" href="#leaderboard"><i class="fas fa-trophy"></i> leaderboard</a></li>
		<li><a class="modal-manager credits" href="#credits"><i class="far fa-copyright"></i> game credits</a></li>
		<li class="user-online"><a class="modal-manager feedback" href="#feedback"><i class="far fa-question-circle"></i> feedback</a></li>
		<li class="user-online"><a class="modal-manager disconnect" href="#disconnect"><i class="fas fa-power-off"></i> disconnect</a></li>
	</ul>
</div>
