<section id="section-right" class="right-column x-fadeIn">
	{{!-- kar leaderboard --}}
	<div class="kard k-small leaderboard">
		<div class="kard-header">
			<h5 class="kard-title">Leaderboard</h5>
		</div>
		<div class="kard-info">
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<table class="table table-leaderboard table-striped">
							<thead>
								<tr>
									<th style="width: 10%">#</th>
									<th style="width: 51%">Username</th>
									<th style="width: 10%">Kills</th>
									<th style="width: 13%">Deaths</th>
									<th style="width: 30%">Profits</th>
								</tr>
							</thead>
							<tbody class="leaderboard-content">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<span class="red-line"><img src="./img/red-line.png"></span>
	</div>
	{{!-- kard chat --}}
	<div class="kard k-small chat">
		<div class="kard-info">
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<!-- conversaciones -->
						<div class="small-chat-container">
							<ul class="chat-display">
							</ul>
							<input id="chat-input" class="chat-input user-online" type="text" placeholder="Press Enter to send" name="chat" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="red-line"><img src="./img/red-line.png"></span>
	</div>

</section>