<!-- Modal Settings -->
<div id="modal-balance" class="modal fade modal-balance" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-close" data-dismiss="modal"><i class="fal fa-times"></i></span>
				<h5 class="modal-title">Your Balance</h5>
				<h5 class="modal-subtitle">hola</h5>
			</div>
			<div class="modal-info">
				
				<div class="modal-body">
					<div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="modal-subtitle mt-20"><ul class="player-battle-info"></ul></h5>
                            </div>
                            <div class="col-12">
                                <div class="drawlines" style="width: 100%; height: 200px;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-sm">
                				<thead>
                					<th style="width: 10%">status</th>
									<th style="width: 20%">information</th>
									<th style="width: 20%">profit</th>
									<th style="width: 30%">transaction</th>
									<th style="width: 20%">total</th>
								</thead>
                                <tbody class="user_balance">
									<!-- user_balance -->
								</tbody>
                            </table>
                        </div>
                    </div>					
				</div>
				<span class="oil oil-t-l"><img src="./img/oil2.png"></span>
			</div>
			<span class="red-line"><img src="./img/red-line.png"></span>
		</div>
	</div>
</div>