<!-- Modal Settings -->
<div id="modal-cashier" class="modal fade modal-cashier" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cashier</h5>
				<h5 class="modal-subtitle-navigation"><span class="active" data-tab-link="0">Cashier Deposits</span><span data-tab-link="1">Withdrawals</span><span data-tab-link="2">Send to user</span></h5>
			</div>
			<div class="modal-info">

				
				<div class="modal-body">
					<div class="container">
						<div class="custom-tabs">

							{{!-- vamos cambiando --}}
							<div id="modal-cashier-deposits" class="active" data-tab="1">
								<div class="row">
									<div class="col-12">
										<p class="mb-4">
											<p><b>3 confirmations required:</b> if you are sending bitcoin from a <a href="https://greenaddress.it" target="_blank">Green Address</a> your payment will be accepted inmediatly. Otherwise the system will require 3 confirmations before updating your balance.</p>
										</p>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Game address</span>
											</div>
											<input type="text" class="user_address form-control" aria-label="user_address" readonly>
											<div class="input-group-append">
												<span id="cashier_copy_address" class="input-group-text"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</span>
											</div>										
										</div>
									</div>
								</div>									
								<div class="row">
									<div class="col-6">
										<div id="qrcode_personal_address"></div>
									</div>
									<div class="col-6">
										<p><b>Rescan blockchain:</b> please remember we are still testing the game, therefore we kindly request you to re-scan the blockchain ocasionally to detect new transfers and sync with your balance.</p>

										<p><b>Real time transactions:</b> please note that BOW uses personal SEGWIT enabled BTC addresses for each player, the address below is yours and only yours. Each action in the game will be also reflected and stored in the blockchain. This address is assosiated with your current user.</p>
									</div>
								</div>
							</div>								
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="modal-cashier-withdrawals" data-tab="2">
								<div class="row">						
									<div class="col-6">
										<p class="mb-4">
											<b>Your balance</b> info will be here
										</p>
										<div class="drawlines" style="width: 100%; height: 200px;"></div>
										<table class="table table-striped">
											<thead>
												<th style="width: 7%">id</th>
												<th style="width: 15%">reason</th>
												<th style="width: 10%">value</th>
												<th style="width: 10%">profits</th>
												<th style="width: 33%">xid</th>
												<th style="width: 15%">status</th>
												<th style="width: 17%">date</th>
											</thead>
											<tbody id="user_balance">
												<!-- user_balance -->
											</tbody>
										</table>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="modal-cashier-send" data-tab="3">
								<div class="row">						
									<div class="col-6">
										<div class="row mb-4">
											<div id="qrcode_mfa"></div>
										</div>
										<div class="row">
											<h5 class="modal-subtitle">Having Issues? <span id="user-mfa-recover" class="color-accent"></span></h5>
										</div>
									</div>
									<div class="col-6">
										<div class="row mb-4">
											<p>
												Scan the QR code with your authenticator app, we recommend Authenticator. In case you have any problem with the code, you can manually enter the secret shown.
											</p>
											<p>
												Once your phone is syncronized, please complete the form with your username, password and the provided time based token.
											</p>
										</div>
										<div class="row mb-4">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-user-plus"></i></span>
												</div>
												<input id="2fa-username-cashier" type="text" class="form-control" placeholder="username" aria-label="username">
											</div>
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-key"></i></span>
												</div>
												<input id="2fa-password-cashier" type="password" class="form-control" placeholder="password" aria-label="password">
											</div>
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-lock"></i></span>
												</div>
												<input id="user-mfa-code-cashier" type="text" class="form-control" placeholder="multifactor" aria-label="multifactor">
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button id="user-mfa-enable" type="button" class="btn btn-custom-one">submit</button>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

						</div>
					</div>
				</div>
				<span class="oil oil-t-l"><img src="./img/oil2.png"></span>
			</div>
			<span class="red-line"><img src="./img/red-line.png"></span>
		</div>
	</div>
</div>