<!-- Modal Online Players -->
<div class="modal fade modal-credits" id="modal-credits" data-easein="flipBounceXIn" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-close" data-dismiss="modal"><i class="fal fa-times"></i></span>
				<h5 class="modal-title">Credits</h5>
			</div>
			<div class="modal-info">
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h5 class="modal-subtitle mt-20">bit of war took months of continue developing effort.</h5>
							</div>
							<div class="col-12 line-bottom">
								<p>
									No tenemos palabras suficientes para explicar la cantidad de horas y esfuerzo que bit of war ha tomado hasta el día de la fecha. He aquí un espacio, una mención especial para cada una de las personas que hicieron esto posible. Sin ellos, bit of war no sería más que un sueño.
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-12 mb-4">
								<h5 class="modal-subtitle mt-20">core development team:</h5>
							</div>
						</div>
						<div class="row team">
							<div class="col-12">
								<div class="team-unit">
									<img class="avatar" src="./img/team/chris.png">
									<div class="info">
										<div class="name">
											<span>chris 'ch' russo</span> <a href="#"><i class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-skype"></i></a><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i class="fas fa-comment"></i></a>
										</div>
										<div class="text">
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn-respawn btn btn-custom-one">spawn</button>
				</div>
				<span class="oil oil-t-l"><img src="./img/oil2.png"></span>
			</div>
			<span class="red-line"><img src="./img/red-line.png"></span>
		</div>
	</div>
</div>