<!-- Modal Disconnect -->
<div id="kard-disconnect" class="kard-modal kard-disconnect">
		<div class="kard">
			<div class="kard-header">
				<span class="kard-close" data-dismiss="modal"><i class="fal fa-times"></i></span>
				<h5 class="kard-title">Disconnect</h5>
			</div>
			<div class="kard-info">
				<div class="kard-body">
					<div class="container">
						<div class="row">
							<div class="col-6 text-center">
								<i class="fal fa-sign-out-alt" style="font-size:90px;"></i>
							</div>
							<div class="col-6">
								<p>
									Are you sure you want to close your session and disconnect from the server?
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="kard-footer">
					<button type="button" class="btn btn-cancel" data-dismiss="modal">cancel</button>
                    <button id="close-session-modal-btn" type="button" class="btn">disconnect</button>
				</div>
				<span class="oil oil-t-l"><img src="./img/oil1.png" style="width:90%;"></span>
			</div>
			<span class="red-line"><img src="./img/red-line.png"></span>
		</div>
</div>