<!-- Modal Settings -->
<div id="modal-home-logged" class="modal fade modal-home-logged" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content medium">
			<div class="modal-header">
				{{!-- <span class="modal-close" data-dismiss="modal"><i class="fal fa-times"></i></span> --}}
				<h5 class="modal-title">Your Balance</h5>
			</div>
			<div class="modal-info">
				
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h5 class="modal-subtitle mb-20">
									<ul class="playing-info">
										<li><img src="./img/canvas/game/ui/user-icon.png" style="height:14px;"><span class="user-name"></span></li>
										<li><img src="./img/canvas/game/ui/kill-icon.png"><span class="user-kills"></span></li>
										<li><img src="./img/canvas/game/ui/death-icon.png"><span class="user-deaths"></span></li>
										<li><img src="./img/canvas/game/ui/spawn-icon.png"><span class="user-spawns"></span></li>
										<li><span class="user-bits"></span></li>
									</ul>
								</h5>
							</div>
							<div class="col-12 pl-0 pr-0 mb-10">
								<div class="drawlines" style="width: 100%; height: 200px;"></div>
							</div>
						</div>
						<div class="row">
							<table class="table table-balance table-sm">
								<thead>
									<th>status</th>
									<th>information</th>
									<th>profit</th>
									<th>transaction</th>
									<th>total</th>
								</thead>
								<tbody class="user_balance_table">
									<!-- user_balance -->
								</tbody>
							</table>
						</div>
					</div>					
				</div>
				<span class="oil oil-t-l"><img src="./img/oil2.png"></span>
			</div>
			<span class="red-line"><img src="./img/red-line.png"></span>
		</div>
		<div class="small">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Leaderboard</h5>
				</div>
				<div class="modal-info">
					<div class="modal-body">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<h5 class="modal-subtitle">play.bitofwar.com</h5>
								</div>
							</div>
							<div class="row">
								<table class="table table-leaderboard table-striped">
									<thead>
										<tr>
											<th style="width: 10%">#</th>
											<th style="width: 51%">Username</th>
											<th style="width: 10%">Kills</th>
											<th style="width: 13%">Deaths</th>
											<th style="width: 30%">Profits</th>
										</tr>
									</thead>
									<tbody class="leaderboard-content">
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<span class="red-line"><img src="./img/red-line.png"></span>
			</div>
			<div class="modal-content">
{{!-- 				<div class="modal-header">
					<h5 class="modal-title">Chat</h5>
				</div> --}}
				<div class="modal-info">
					<div class="modal-body">
						<div class="container">
							<div class="row">
								<!-- conversaciones -->
								<div class="small-chat-container">
									<ul class="chat-display">
									</ul>
									<input id="chat-input" class="chat-input user-online" type="text" placeholder="Press Enter to send" name="chat" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<span class="red-line"><img src="./img/red-line.png"></span>
			</div>
		</div>	
	</div>
</div>