<!-- Modal Online Players -->
<div class="modal fade modal-leaderboard" id="modal-leaderboard" data-easein="flipBounceXIn" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leaderboard</h5>
            </div>
            <div class="modal-info">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                                            <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Kills</th>
                            <th>Deaths</th>
                            <th>Profits</th>
                        </tr>
                    </thead>
                    <tbody class="leaderboard-content">
                    </tbody>
                </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-respawn" type="button" class="btn btn-custom-one">spawn</button>
                </div>
                <span class="oil oil-t-l"><img src="/img/oil2.png"></span>
            </div>
            <span class="red-line"><img src="/img/red-line.png"></span>
        </div>
    </div>
</div>