<!-- Modal Online Players -->
<div class="modal fade modal-leaderboard" id="modal-leaderboard" data-easein="flipBounceXIn" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-close" data-dismiss="modal"><i class="fal fa-times"></i></span>
				<h5 class="modal-title">Leaderboard</h5>
			</div>
			<div class="modal-info">
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<table class="table table-striped">
								<thead>
									<tr>
										<th style="width: 10%">#</th>
										<th style="width: 51%">Username</th>
										<th style="width: 10%">Kills</th>
										<th style="width: 13%">Deaths</th>
										<th style="width: 30%">Profits</th>
									</tr>
								</thead>
								<tbody class="leaderboard-content">
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<span class="oil oil-t-l"><img src="./img/oil2.png"></span>
			</div>
			<span class="red-line"><img src="./img/red-line.png"></span>
		</div>
	</div>
</div>