<!-- Modal New User -->
<div id="kard-new-user" class="kard-modal kard-new-user">
	
		<div class="kard">
			<div class="kard-header">
				<h5 class="kard-title">
					<span class="kard-close" data-dismiss="modal"><i class="fal fa-times"></i></span>
					<span id="kard-new-user-resume" class="unselected">Resume</span>
					<span id="kard-new-user-register">Create New Profile</span>
				</h5>
			</div>
			<div id="resume-container" class="kard-info f-fadeIn" style="display: none;">
				<div class="kard-body">
					<div class="container">
						<div class="row">
							<div class="col-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-user-plus"></i></span>
									</div>
									<input id="name-input" type="text" class="form-control" placeholder="Username" aria-label="Username">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-key"></i></span>
									</div>
									<input id="pass-input" type="password" class="form-control" placeholder="Password" aria-label="Password">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-lock-alt"></i></span>
									</div>
									<input id="mfa-code-input" type="text" class="form-control" placeholder="2FA (if enabled)" aria-label="2FA (if enabled)">
								</div>
								<span id="alert-message-resume" class="text-alert font-small"></span>					
							</div>
						</div>
					</div>
				</div>
				<div class="kard-footer">
					<button id="name-submit" type="button" class="btn btn-custom-one">log in</button>
				</div>
				<span class="oil oil-t-l"><img src="./img/oil1.png" style="width:90%;"></span>
			</div>
			<div id="register-container" class="kard-info f-fadeIn" style="display: block;">
				<div class="kard-body">
					<div class="container">
						<div class="row">
							<div class="col-6">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-user-plus"></i></span>
									</div>
									<input id="user-new-username" type="text" class="form-control" placeholder="Username" aria-label="Username">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-key"></i></span>
									</div>
									<input id="user-new-password" type="text" class="form-control" placeholder="Password" aria-label="Password">
									<div class="input-group-append">
										<span class="input-group-text" id="refresh-password"><i class="fas fa-sync"></i></span>
									</div>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-envelope"></i></span>
									</div>
									<input id="user-new-email" type="text" class="form-control" placeholder="Email" aria-label="Email">
								</div>
								<span id="alert-message-register" class="text-alert font-small"></span>
							</div>
							<div class="col-6">
								<p>
									Email is optional: you don't need to assosiate an email to create a new account. However, accounts withour email don’t have any password recovery options.
								</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="kard-footer">
					<button id="name-create" type="button" class="btn btn-custom-one">confirm</button>
				</div>
				<span class="oil oil-t-l"><img src="./img/oil1.png" style="width:90%;"></span>
			</div>
			<span class="red-line"><img src="./img/red-line.png"></span>
		</div>

</div>