<!-- Modal Online Players -->
<div class="modal fade modal-online-players" id="modal-rooms" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Server List</h5>
            </div>
            <div class="modal-info">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="modal-subtitle mt-20">play.bitofwar.com</h5>
                            </div>
                            <div class="col-6">
                                <p>
                                    You are now connected to play.bitofwar.com. There are 7 players online. Maximum capacity of 10 simultaneous players.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">domain</th>
                                        <th scope="col">location</th>
                                        <th scope="col">btc server</th>
                                        <th scope="col">online</th>
                                        <th scope="col">latency</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="/img/light-on.png"/></td>
                                        <td>play.bitofwar.com</td>
                                        <td>London</td>
                                        <td>professional</td>
                                        <td>7/10</td>
                                        <td>113ms</td>
                                    </tr>
                                    <tr>
                                        <td><img src="/img/light-on.png"/></td>
                                        <td>playground.bitofwar.com</td>
                                        <td>Los Angeles</td>
                                        <td>free</td>
                                        <td>8/10</td>
                                        <td>78ms</td>
                                    </tr>
                                    <tr>
                                        <td><img src="/img/light-on.png"/></td>
                                        <td>research.bitofwar.com</td>
                                        <td>Sao Paulo</td>
                                        <td>free</td>
                                        <td>3/10</td>
                                        <td>43ms</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <span class="oil oil-t-r rotate-45"><img src="/img/oil2.png"></span>
            </div>
            <span class="red-line"><img src="/img/red-line.png"></span>
        </div>
    </div>
</div>