<!-- Modal Settings -->
<div class="modal fade modal-settings" id="modal-settings" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Settings</h5>
			</div>
			<div class="modal-info">
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-12 mb-4">
                                <h5 class="modal-subtitle">Multifactor Authentication</h5>
                            </div>
                            <div class="col-6">
                                <div class="row mb-4">
								<img src="/img/code.png">
                                </div>
                                <div class="row">
                                <h5 class="modal-subtitle">Having Issues? <span class="color-accent">ZOTV6AW7FHSWCWRO</span></h5>
                                </div>
							</div>
							<div class="col-6">
                                <div class="row mb-4">
                                    <p>
                                        Scan the QR code with your authenticator app, we recommend Authenticator. In case you have any problem with the code, you can manually enter the secret shown.
                                    </p>
                                    <p>
                                        Once your phone is syncronized, please complete the form with your username, password and the provided time based token.
                                    </p>
                                </div>
                                <div class="row mb-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-plus"></i></span>
                                        </div>
                                        <input id="username" type="text" class="form-control" placeholder="username" aria-label="username">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        <input id="password" type="password" class="form-control" placeholder="password" aria-label="password">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                        <input id="multifactor" type="text" class="form-control" placeholder="multifactor" aria-label="multifactor">
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-custom-one"><i class="fas fa-unlock mr-2"></i>disable</button>
                    <button type="button" class="btn btn-custom-one"><i class="fas fa-lock mr-2"></i>enable</button>
				</div>
				<span class="oil oil-t-l"><img src="/img/oil2.png"></span>
			</div>
			<span class="red-line"><img src="/img/red-line.png"></span>
		</div>
	</div>
</div>