<!-- Modal Small Resume -->
<div class="modal fade modal-sm-resume" id="modal-resume" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content col-7">
			<div class="modal-header">
				<h5 class="modal-title"><span class="color-accent">Create New Profile</span> Resume</h5>
			</div>
			<div class="modal-info">
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-user-plus"></i></span>
									</div>
									<input id="new-username" type="text" class="form-control" placeholder="username" aria-label="username">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-key"></i></span>
									</div>
									<input id="new-user-password" type="password" class="form-control" placeholder="password" aria-label="password">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fas fa-envelope"></i></span>
									</div>
									<input id="new-user-email" type="text" class="form-control" placeholder="email" aria-label="email">
								</div>
							</div>
							<div class="col-12">
								<p>
									Create a new account: you don't need to assosiate an email to create a new account. However, accounts without an email don’t have any password recovery options.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-custom-one">confirm</button>
				</div>
			</div>
			<span class="red-line sm"><img src="/img/red-line.png"></span>
		</div>
	</div>
</div>