<!-- player hub -->
<div class="player-hub">
	<div class="bitcoin-goal">
		<span id="user_balance_hub"></span>
		<b class="red">/ </b> bitcoin
	</div>
	<div class="bitcoin-line">
		<div class="progress">
			<div id="progress-bar-bitcoin" class="progress-bar progress-bar-bitcoin" role="progressbar" aria-valuenow="40"
			aria-valuemin="0" aria-valuemax="100" style="width:0%">
			</div>
		</div>
	</div>
	<div class="status-field">
		<ul id="health-bar" class="health-bar">
		</ul>
		<ul id="shield-bar" class="shield-bar">
		</ul>
	</div>
	<div class="av-container">
		<img id="av_plain" src="./img/canvas/av_plain.png">
		<canvas id="av_fire" style="pointer-events: none;"></canvas>
	</div>
</div>