{{!-- playing extra buttons --}}
<div class="playing-header">
	<ul>
		<li><a class="x-fadeIn show-modal-back-home" href="#" data-toggle="tooltip" data-placement="bottom" title="Exit"><i class="fas fa-power-off"></i></a></li>
		<li><a class="x-fadeIn" href="#" data-toggle="tooltip" data-placement="bottom" title="Music off"><i class="far fa-volume"></i></a></li>
	</ul>
</div>

{{!-- player battle info --}}
<div class="player-battle-info">
	<img alt="Brand" src="../img/logo-small.png">
	<ul id="player-battle-info">
	</ul>
</div>

<!-- conversaciones -->
<div id="chat-container" class="chat-container">
	<ul id="chat-display" class="chat-display">
	</ul>
	<input id="chat-input" class="chat-input user-online" type="text" placeholder="Press Enter to send" name="chat" />
</div>

<!-- switch full screen -->
<div class="switch-fullscreen">
	<i id="switch-fullscreen-on" class="far fa-expand-wide" title="Switch to full screen"></i>
	<i id="switch-fullscreen-off" class="far fa-compress" title="Switch to default screen"></i>
</div>

<!-- action container -->
<div id="action-container" class="action-container" role="alert">
	<img class="dead" src="./img/canvas/skull.png" />
	<span class="line"></span>
	<button class="btn dead go-home-modal-btn">go home</button>
	<button id="ingame_respawn" class="btn dead">respawn</button>
</div>

<!-- developer mode -->
<div id="developer-mode" class="developer-mode">
	<table>
		<caption style="visibility:hidden;">game['self']</caption>
		<tbody id="developer_self">
		</tbody>
	</table>
	<table>
		<caption style="visibility:hidden;">game['self']['powerups']</caption>
		<tbody id="developer_powerups">
		</tbody>
	</table>
</div>