<!-- Modal Settings -->
<div id="kard-balance" class="kard-modal kard-balance">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title"><span class="active">> Balance</span></h5>
			</div>			
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h5 class="kard-subtitle mb-20">
								<ul class="playing-info">
									<li><img src="./img/canvas/game/ui/user-icon.png" style="height:14px;"><span class="user-name"></span></li>
									<li data-toggle="tooltip" data-placement="bottom" title="kills"><img src="./img/canvas/game/ui/kill-icon.png"><span class="user-kills"></span></li>
									<li data-toggle="tooltip" data-placement="bottom" title="deaths"><img src="./img/canvas/game/ui/death-icon.png"><span class="user-deaths"></span></li>
									<li data-toggle="tooltip" data-placement="bottom" title="spawns"><img src="./img/canvas/game/ui/spawn-icon.png"><span class="user-spawns"></span></li>
									<li><span class="user-bits"></span></li>
								</ul>
							</h5>
						</div>
						<div class="col-12 pl-0 pr-0 mb-10">
							<div class="drawlines" style="width: 100%; height: 200px;"></div>
						</div>
					</div>
					<div class="row">
						<table class="table table-balance table-sm">
							<thead>
								<th>status</th>
								<th>information</th>
								<th>profit</th>
								<th>transaction</th>
								<th>total</th>
							</thead>
							<tbody class="user_balance_table">
								<!-- user_balance -->
							</tbody>
						</table>
					</div>
				</div>					
			</div>
		</div>
	</div>
</div>