<!-- Modal Settings -->
<div id="kard-cashier" class="kard-modal kard-cashier">
		<div class="kard">
			<div class="kard-info">
				<div class="kard-header">
					<h5 class="kard-title cashier-tabs"><span class="active" data-tab-link="0">Cashier Deposits</span><span data-tab-link="1">Withdrawals</span><span data-tab-link="2">Send to user</span></h5>
				</div>
				<div class="kard-body">
					<div class="container">
						<div class="custom-tabs">

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-deposits" class="active" data-tab="1">
								<div class="row">
									<div class="col-12">
										<p class="mb-4">
											<b>3 confirmations required:</b> if you are sending bitcoin from a <a href="https://greenaddress.it" target="_blank">Green Address</a> your payment will be accepted inmediatly. Otherwise the system will require 3 confirmations before updating your balance.
										</p>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Game address</span>
											</div>
											<input type="text" class="user_address form-control" aria-label="user_address" readonly>
											<div class="input-group-append">
												<span id="cashier_copy_address" class="input-group-text"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</span>
											</div>										
										</div>
									</div>
								</div>									
								<div class="row">
									<div class="col-xl-6">
										<div id="qrcode_personal_address" class="img-fluid"></div>
									</div>
									<div class="col-xl-6">
										<p><b>Rescan blockchain:</b> please remember we are still testing the game, therefore we kindly request you to re-scan the blockchain ocasionally to detect new transfers and sync with your balance.</p>

										<p><b>Real time transactions:</b> please note that BOW uses personal SEGWIT enabled BTC addresses for each player, the address below is yours and only yours. Each action in the game will be also reflected and stored in the blockchain. This address is assosiated with your current user.</p>
									</div>
								</div>
							</div>								
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-withdrawals" data-tab="2">
								<div class="row">						
									<div class="col-12">
										<p class="mb-4">
											<b>Important:</b> your withdrawal will be sent from your personal game wallet, so you can send it to any address you may want. Your current balance is: <a class="user_balance"></a>. All your available balance will be sent.
										</p>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Destination address</span>
											</div>
											<input id="address_b" type="text" class="form-control" placeholder="Address" aria-label="address">
										</div>
										<button id="cashier_send" class="btn mb-3">Submit</button>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-send" data-tab="3">
								<div class="row">						
									<div class="col-12">
										<p class="mb-4">
											<b>Send money to another player!</b> You can use this function to send money to another player by it's username, it could be a friend, part of your team, or used to send any kind of in game payments. <b>The legend says</b> a wise man called Merovingian may craft special weaponery for offers.
										</p>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Username</span>
											</div>
											<input id="wire_user_b" type="text" class="form-control" placeholder="Who will recive?" aria-label="address">
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Amount</span>
											</div>
											<input id="wire_value" type="text" class="form-control" placeholder="Who will recive?" aria-label="address">
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Information</span>
											</div>
											<input id="wire_message" type="text" class="form-control" placeholder="Who will recive?" aria-label="address">
										</div>
										<button id="cashier_wire" class="btn mb-3">Send</button>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

						</div>
					</div>
				</div>
			</div>
		</div>
</div>