<!-- Modal Settings -->
<div id="kard-cashier" class="kard-modal kard-cashier">
		<div class="kard">
			<div class="kard-info">
				<div class="kard-header">
					<h5 class="kard-title cashier-tabs tab-title">Cashier
							<ul>
								<li class="active" data-tab-link="0">Cashier Deposits</li>
								<li data-tab-link="1">Withdrawals</li>
								<li data-tab-link="2">Send to user</li>
							</ul>
						</h5>
				</div>
				<div class="kard-body">
					<div class="container">
						<div class="custom-tabs">
							<div class="x-padding-xs"></div>
							{{!-- vamos cambiando --}}
							<div id="kard-cashier-deposits" class="active" data-tab="1">					
								<div class="row">
									<div class="col-xl-6">
										<div id="qrcode_personal_address" class="img-fluid"></div>
									</div>
									<div class="col-xl-5">
										<p class="mb-4">
											Welcome to the cashier! from this section you can easily move your funds across your wallets, or transfer funds to your team and friends.<br><br>
											Please remember that 3 confirmations are required before funds become available, if you wish to speed up this process, you can use a Green Address.
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<div class="user_address" data-toggle="tooltip" data-placement="bottom" title="this is your personal wallet"></div>
									</div>
								</div>								
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-withdrawals" data-tab="2">
								<div class="row">						
									<div class="col-12">
										<p class="mb-4">
											<b>Important:</b> your withdrawal will be sent from your personal game wallet, so you can send it to any address you may want. Your current balance is: <a class="user_balance"></a>. All your available balance will be sent.
										</p>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Destination address</span>
											</div>
											<input id="address_b" type="text" class="form-control" placeholder="Address" aria-label="address">
										</div>
										<button id="cashier_send" class="btn mb-3">Submit</button>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-send" data-tab="3">
								<div class="row">						
									<div class="col-12">
										<p class="mb-4">
											<b>Send money to another player!</b> You can use this function to send money to another player by it's username, it could be a friend, part of your team, or used to send any kind of in game payments. <b>The legend says</b> a wise man called Merovingian may craft special weaponery for offers.
										</p>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Username</span>
											</div>
											<input id="wire_user_b" type="text" class="form-control" placeholder="Who will recive?" aria-label="address">
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Amount</span>
											</div>
											<input id="wire_value" type="text" class="form-control" placeholder="Who will recive?" aria-label="address">
										</div>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text">Information</span>
											</div>
											<input id="wire_message" type="text" class="form-control" placeholder="Who will recive?" aria-label="address">
										</div>
										<button id="cashier_wire" class="btn mb-3">Send</button>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

						</div>
					</div>
				</div>
			</div>
		</div>
</div>