<!-- Modal Settings -->
<div id="kard-cashier" class="kard-modal kard-cashier">
		<div class="kard">
			<div class="kard-info">
				<div class="kard-header">
					<h5 class="kard-title cashier-tabs tab-title">Cashier
						<ul>
							<li class="active" data-tab-link="0">Deposits</li>
							<li data-tab-link="1">Withdrawals</li>
							<li data-tab-link="2">History</li>
						</ul>
					</h5>
				</div>
				<div class="kard-body">
					<div class="container">
						<div class="custom-tabs">
							<div class="x-padding-xs"></div>
							{{!-- vamos cambiando --}}
							<div id="kard-cashier-deposits" class="active" data-tab="1">					
								<div class="row">
									<div class="col-xl-6">
										<div id="qrcode_personal_address" class="img-fluid" data-toggle="tooltip" data-placement="bottom" title="scan this code and make a transfer from your phone"></div>
									</div>
									<div class="col-xl-5">
										<p class="mb-4">
											Welcome to the cashier! from this section you can easily move your funds across your wallets, or transfer funds to your team and friends.<br><br>
											Please remember that 3 confirmations are required before funds become available, if you wish to speed up this process, you can use a Green Address.
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<div class="user_address" data-toggle="tooltip" data-placement="bottom" title="this is your personal wallet"></div>
									</div>
								</div>								
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-withdrawals" data-tab="2">
								<div class="row">						
									<div class="col-12 text-center">
										<div class="form-custom">
											<span>username:</span>
											<div class="input-field">
												<div class="icon"><i class="fas fa-user-plus"></i></div>
												<input id="withdrawals-username" type="text" aria-label="username">
											</div>
										</div>
										<div class="form-custom">
											<span>password:</span>
											<div class="input-field">
												<div class="icon"><i class="fas fa-key"></i></div>
												<input id="withdrawals-password" type="password" aria-label="withdrawals-password">
											</div>
										</div>
										<div class="form-custom">
											<span>available balance:</span>
											<div class="input-field">
												<div class="icon"><i class="far fa-balance-scale"></i></div>
												<input id="withdrawals-available-balance" type="text" aria-label="withdrawals-available-balance">
											</div>
										</div>	
										<div class="form-custom">
											<span>withdrawal amount:</span>
											<div class="input-field">
												<div class="icon"><i class="fas fa-arrow-down color-one"></i></div>
												<input id="withdrawals-amount" type="text" aria-label="withdrawals-amount" placeholder="0.00">
											</div>
										</div>	
										<div class="form-custom">
											<span>left in account:</span>
											<div class="input-field">
												<div class="icon"><i class="far fa-balance-scale"></i></div>
												<input id="balance-left" type="text" aria-label="balance-left" placeholder="0.00">
											</div>
										</div>
										<div class="form-custom">
											<span>destination address:</span>
											<div class="input-field">
												<div class="icon"><i class="fas fa-wallet"></i></div>
												<input id="address_b" type="text" aria-label="address_b">
											</div>
										</div>
										<div class="border-div mt-4">								
											<button id="cashier_send" class="btn">confirm withdrawal</button>
										</div>
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

							{{!-- vamos cambiando --}}
							<div id="kard-cashier-send" data-tab="3">
								<div class="row">						
									<div class="col-12">
									
									</div>
								</div>
							</div>
							{{!-- hasta aca --}}

						</div>
					</div>
				</div>
			</div>
		</div>
</div>