<!-- Modal Online Players -->
<div id="kard-credits" class="kard-modal kard-credits">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title">Game Credits</h5>
			</div>
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<img class="psy-logo img-fluid" src="./img/logo-psy.png">
						</div>
						<div class="col-12">
							<h5 class="kard-subtitle mt-20">bit of war took months of continue developing effort.</h5>
							<p>
								No tenemos palabras suficientes para explicar la cantidad de horas y esfuerzo que bit of war ha tomado hasta el día de la fecha. He aquí un espacio, una mención especial para cada una de las personas que hicieron esto posible. Sin ellos, bit of war no sería más que un sueño.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12 line-bottom">
						</div>
						<div class="col-12 mb-3">
							<h5 class="kard-subtitle mt-20">core development team:</h5>
						</div>
					</div>
					<div class="row team">
						<div class="col-12">
							<div class="team-unit">
								<img class="avatar" src="./img/team/ch.png">
								<div class="info">
									<div class="name">
										<span>chris 'ch' russo</span> <a href="https://www.linkedin.com/in/chris-c-russo/"><i class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-skype"></i></a><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i class="fas fa-comment"></i></a>
									</div>
									<div class="text">
										A computer developer, a self styled IT security researcher.
									</div>
								</div>
							</div>
							<div class="team-unit" style="border-bottom:0px;">
								<img class="avatar" src="./img/team/tuna.png">
								<div class="info">
									<div class="name">
										<span>Ignacio 'Tuna' Gómez</span> <a href="https://www.linkedin.com/in/ignacio-g%C3%B3mez-ar/"><i class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-skype"></i></a><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i class="fas fa-comment"></i></a>
									</div>
									<div class="text">
										Octopus hands designer and developer.
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 line-bottom">
						</div>
						<div class="col-12 mb-3">
							<h5 class="kard-subtitle mt-20">team:</h5>
						</div>
					</div>
					<div class="row team">
						<div class="col-12">
							<div class="team-unit">
								<img class="avatar" src="./img/team/sol.png">
								<div class="info">
									<div class="name">
										<span>Solange Gonzalez</span> <a href="#"><i class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-skype"></i></a><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i class="fas fa-comment"></i></a>
									</div>
									<div class="text">
										Designer and developer at the speed of light.
									</div>
								</div>
							</div>
							<div class="team-unit">
								<img class="avatar" src="./img/team/pato.png">
								<div class="info">
									<div class="name">
										<span>Patricia Bezek</span> <a href="https://www.linkedin.com/in/patricia-bezek/"><i class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-skype"></i></a><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i class="fas fa-comment"></i></a>
									</div>
									<div class="text">
										Annoying bug finder, communications and magician.
									</div>
								</div>
							</div>
							<div class="team-unit">
								<img class="avatar" src="./img/team/luca.png">
								<div class="info">
									<div class="name">
										<span>Luca M. Fenochietto</span> <a href="#"><i class="fab fa-linkedin-in"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-skype"></i></a><a href="#"><i class="fas fa-envelope"></i></a><a href="#"><i class="fas fa-comment"></i></a>
									</div>
									<div class="text">
										Business advisor
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="x-padding-md"></div>
				</div>
			</div>
		</div>
	</div>
</div>
