<!-- Modal Online Players -->
<div id="kard-leaderboard" class="kard-modal kard-leaderboard">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<table class="table table-leaderboard table-striped">
							<thead>
								<tr>
									<th style="width: 10%">#</th>
									<th style="width: 63%">Username</th>
									<th style="width: 10%">Kills</th>
									<th style="width: 13%">Deaths</th>
									<th style="width: 30%">Profits</th>
								</tr>
							</thead>
							<tbody class="leaderboard-content">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>