<!-- Modal Online Players -->
<div id="kard-online-players" class="kard-modal kard-online-players">

		<div class="kard">
			<div class="kard-info">
				<div class="kard-header">
					<h5 class="kard-title">Continue</span></h5>
				</div>
				<div class="kard-body">
					<div class="container">
						<div class="row">
							<div class="col-8">
								<h5 class="kard-subtitle mt-20">usa1.bitofwar.com</h5>
								<p>
									You are now connected to usa1.bitofwar.com. {{!-- There’s 3 players online. Maximum capacity of 10 simultaneous players in this server. --}}
								</p>
							</div>
							<div class="col-4">
								<button type="button" class="btn-respawn btn btn-custom-one btn-large">spawn</button>
							</div>
						</div>
						<div class="x-padding-xs"></div>
						<div class="row">
							<table class="table table-sm">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">Username</th>
										<th scope="col" class="text-center">kills</th>
										<th scope="col" class="text-center">deads</th>
										<th scope="col" class="text-center">spawns</th>
										<th scope="col" class="text-center">level</th>
										<th scope="col" class="text-right">profits</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><img src="./img/light-on.png"/></td>
										<td>spicednew</td>
										<td class="text-center">23</td>
										<td class="text-center">65</td>
										<td class="text-center">34</td>
										<td class="text-center">67</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 36,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-on.png"/></td>
										<td>paranoidandroid</td>
										<td class="text-center">44</td>
										<td class="text-center">13</td>
										<td class="text-center">76</td>
										<td class="text-center">34</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 76,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-on.png"/></td>
										<td>soberworldcup</td>
										<td class="text-center">45</td>
										<td class="text-center">23</td>
										<td class="text-center">12</td>
										<td class="text-center">32</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 65,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-on.png"/></td>
										<td>mushroomregal</td>
										<td class="text-center">12</td>
										<td class="text-center">56</td>
										<td class="text-center">34</td>
										<td class="text-center">23</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 76,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-off.png"/></td>
										<td>blossomupload</td>
										<td class="text-center">56</td>
										<td class="text-center">76</td>
										<td class="text-center">23</td>
										<td class="text-center">45</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 65,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-off.png"/></td>
										<td>chouxallude</td>
										<td class="text-center">32</td>
										<td class="text-center">98</td>
										<td class="text-center">56</td>
										<td class="text-center">76</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 34,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-off.png"/></td>
										<td>reinforeach</td>
										<td class="text-center">66</td>
										<td class="text-center">12</td>
										<td class="text-center">32</td>
										<td class="text-center">76</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 87,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-off.png"/></td>
										<td>survivalcaviar</td>
										<td class="text-center">87</td>
										<td class="text-center">65</td>
										<td class="text-center">45</td>
										<td class="text-center">76</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 47,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-off.png"/></td>
										<td>considerrosen</td>
										<td class="text-center">34</td>
										<td class="text-center">23</td>
										<td class="text-center">45</td>
										<td class="text-center">12</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 54,000</td>
									</tr>
									<tr>
										<td><img src="./img/light-off.png"/></td>
										<td>monacoride</td>
										<td class="text-center">34</td>
										<td class="text-center">23</td>
										<td class="text-center">45</td>
										<td class="text-center">12</td>
										<td class="text-right"><i class="fas fa-arrow-up align-baseline mr-1 f-color-green"></i> 56,000</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
		{{!-- 		<div class="kard-footer">
					<button type="button" class="btn-respawn btn btn-custom-one">spawn</button>
				</div> --}}
			</div>
		</div>

</div>