<!-- Modal Online Players -->
<div id="kard-profile" class="kard-modal kard-profile">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title"><span class="active">> Profile</span></h5>
			</div>			
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<p class="mb-2">
								<b>Hey <span id="username_text"><span>!</b> This is your personal user panel, from this section you can view your user information, change your email address and password.
							</p>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-envelope"></i></span>
								</div>
								<input id="user_overview_email" type="text" class="form-control" aria-label="username" disabled>
								<div class="input-group-append">
									<span id="user_overview_email_edit" class="input-group-text"><i class="fal fa-edit"></i></span>
								</div>										
							</div>
							<div class="input-group mb-4">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input id="user_overview_email_edit" type="password" class="form-control" placeholder="password" aria-label="password" disabled>
								<div class="input-group-append">
									<span id="user_overview_password_edit" class="input-group-text"><i class="fal fa-edit"></i></span>
								</div>
							</div>
							<table class="table table-striped" class="user-statistics">
								<tbody id="user_statistics">
									<!-- user overview -->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>