<!-- Modal Online Players -->
<div id="kard-rooms" class="kard-modal kard-rooms">
	<div class="kard">
		<div class="kard-info">
			<div class="kard-header">
				<h5 class="kard-title"><span class="active">> Servers</span></h5>
			</div>
			<div class="kard-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h5 class="kard-subtitle mt-20">playground.bitofwar.com</h5>
						</div>
						<div class="col-12">
							<p>
								You have differents rooms to play, where you can choose the prize for kill one enemy, or to loose when someone kill you. Also you have a free room called playground where you can refine your skills.
							</p>
						</div>
					</div>
					<div class="x-padding-xs"></div>
					<div class="row">
						<table class="table table-sm">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">name</th>
									<th scope="col">type</th>
									<th scope="col">cost/kill</th>
									{{!-- <th scope="col">btc server</th>
									<th scope="col">online</th>
									<th scope="col">latency</th> --}}
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img src="./img/light-on.png"/></td>
									<td data-toggle="tooltip" data-placement="bottom" title="next release">play.bitofwar.com</td>
									<td>bitcoin</td>
									<td>1,000 bits</td>
								</tr>
								<tr>
									<td><img src="./img/light-on.png"/></td>
									<td><a href="https://playground.bitofwar.com/">playground.bitofwar.com</a></td>
									<td>free</td>
									<td>0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>