.playing-header {
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 500;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	ul {
		list-style: none;
		margin: 0px;
		padding: 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: stretch;
		z-index: 500;
		li {
			flex: 1;
			display: flex;
			text-align: center;
			a {
				color: $color-white;
				// display: flex;
				width: 40px;
				height: 40px;
				// padding: 0 15px;
				// flex: 1;
				// justify-content: center;
				// flex-flow: column;
				font-size: 17px;
				.fas {
					vertical-align: bottom;
				}
				&.btn-music-on {
					display: none;
				}
				&:hover {
					text-decoration: none !important;
					color: $color-one;
				}
			}
		}
	}
}
.player-battle-info-container {
	pointer-events: none !important;
	position: absolute;
	// display: flex;
	// flex-direction: row;
	top: 0px;
	left: 0px;
	// width: 430px;
	z-index: 200;
	color: #fff;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	transition-timing-function: ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	img {
		margin-top: -10px;
		margin-right: 5px;
		margin-left: 0px;
		display: inline-block !important;
	}
	ul {
		// border-bottom: 1px solid rgba(255,255,255,0.1);
		// border-top: 1px solid rgba(255,255,255,0.1);
		font-family: 'BigNoodleTooOblique';
		font-size: 20px;
		height: 40px;
		line-height: 40px;
		margin-bottom: 0px !important;
		padding-left: 15px;
		display:inline-block !important;
	}
	li {
		display: inline-block !important;
		list-style: none;
		margin-right: 20px;
		height: 30px;
		&.name {
			color: $color-one;
		}
	}
}

.switch-fullscreen {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #fff;
	font-size: 2vw;
	z-index: 200;
	cursor: pointer;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	transition-timing-function: ease;
	.btn-fullscreen-off {
		display: none;
	}
	ul {
		list-style: none;
		margin: 0px;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		z-index: 500;
		li {
			flex: 1;
			display: flex;
			text-align: center;
			a {
				color: $color-white;
				// display: flex;
				width: 40px;
				height: 40px;
				// padding: 0 15px;
				// flex: 1;
				// justify-content: center;
				// flex-flow: column;
				font-size: 17px;
				.fas, .far {
					vertical-align: bottom;
				}
				.far {
					font-size: 20px;
					margin-top: 8px;
					display: block;
				}
				&.btn-music-on {
					display: none;
				}
				&:hover {
					text-decoration: none !important;
					color: $color-one;
				}
			}
		}
	}	
}

.action-container {
	pointer-events: none !important;
	opacity: 0;
	top: 1vw;
	position: absolute;
	left: 0px !important;
	right: 0px !important;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-size: 2.7vw !important;
	font-family: 'BigNoodleTooOblique', serif;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	transition-timing-function: ease;
	z-index: 210;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	span.line {
		display: block;
	}
	.fas {
		opacity: 0;
		color: red;
		top: -67px !important;
		display: block;
		position: absolute;
		text-align: center;
		margin: 0 auto;
		left: 0px !important;
		right: 0px !important;
		font-size: 4.5vw !important;
	}
	button.dead {
		opacity: 0;
		cursor: pointer;
		pointer-events: all;
	}
	img.dead {
		opacity: 0;
		top: -11vw!important;
		max-width: 7vw;
		position: absolute;
		left: 0px !important;
		right: 0px !important;
		text-align: center;
		margin: 0 auto;
	}
	&.active {
		display: block;
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
		transition-timing-function: ease;
		&.die {
			top: inherit;
			bottom: 40%;
			height: 210px;
		}
	}
	span.text-green {
		color: #67E361;
	}
	span.text-red {
		color: $color-one;
	}
}

.developer-mode {
	position: fixed;
	top: 50px;
	left: 20px;
	z-index: 4;
	color: #fff;
	font-size: 12px;
	display: none;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	&.active {
		display: block !important;
	}
	table {
		float: left;
		tr {
			border-bottom: 1px solid #222;
			td {
				padding: 2px !important;
			}
		}
	}
}

.chat-container {
	color: #fff;
	z-index: 200;
	position: absolute;
	top: 40%;
	left: 10px;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	ul {
		padding-left: 0px;
		li {
			list-style: none;
			background-color: rgba(0,0,0,.2);
			padding: 4px 10px;
			margin-bottom: 2px;
			font-size: 12px;
			.green {
				color: #67E361;
			}
			.yellow {
				color: #FF6D00;
			}
			.red {
				color: #FF4444;
			}
		}
	}
	.chat-input {
		display: none !important;
		width: 90%;
		margin: 0 auto;
	}
}
