// input {
//     display: block;
//     width: 100%;
//     height: calc(2.25rem + 2px);
//     padding: .375rem .75rem;
//     font-size: 1rem;
//     line-height: 1.5;
// 	border: none;
// 	border-radius: 0px;
// 	outline: none !important;
// }
// .form-group {
// 	margin-bottom: 1.9rem !important;
// }
table td {
    padding: 7px !important;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #666;
  outline: 1px solid slategrey;
}
*::-webkit-scrollbar-thumb {
  background-color: $color-one;
  outline: 1px solid slategrey;
}
 *::-webkit-scrollbar {
    width: 5px;
}
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
img {
  pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a, h1, h2, h3, h4, h5, h6, p, span {
	-webkit-touch-callout: all !important;
	-webkit-user-select: all !important;
	-khtml-user-select: all !important;
	-moz-user-select: all !important;
	-ms-user-select: all !important;
	user-select: all !important;
}
input {
	-webkit-touch-callout: all !important;
	-webkit-user-select: all !important;
	-khtml-user-select: all !important;
	-moz-user-select: all !important;
	-ms-user-select: all !important;
	user-select: all !important;
	display: block !important;
	z-index: 999 !important
}
@include desktop {
	.modal-lg {
		width: 90% !important;
	    max-width: 1250px !important;
	}
}
@include desktop-large {
	.modal-lg {
		width: 90% !important;
	    max-width: 1250px !important;
	}
}
