<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="./js/socket.io.min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="./img/favicon.png">

        <title>Bit of War</title>

        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css" integrity="" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    </head>
    <body>
        {{!-- header include --}}
        <!-- inicializamos sequencer acá -->
        <script type="module">

            //usamos ES6 para incluir la clase
            import Sequencer from './js/sequencer/sequencer.js';

            //considerar remplazar el nombre en caso de que haya más.
            const av_fire = Sequencer.make({
                    canvas           : document.getElementById('av_fire'),
                    from             : './img/canvas/avs/av_fire/focus_av_final_000.png',
                    to               : './img/canvas/avs/av_fire/focus_av_final_029.png',
                    playMode         : "auto",
                    //direction        : "-x",
                    //scaleMode        : "cover",
                    //showLoadedImages : false,
                    //hiDPI            : true,
                    //imageLoad        : function(e){ console.log("[id: " + e.id + "] " + e.count + "/" + e.total); },
                    //queueComplete    : function(e){ console.log(e); }
                });

                av_fire.size(500, 300);

        </script>

        {{!-- modals include --}}
        {{> includes/_modals/new-user }}
        {{> includes/_modals/disconnect }}
        {{> includes/_modals/back-home }}
        {{> includes/_modals/online-players }}
        {{> includes/_modals/rooms }}
        {{> includes/_modals/settings }}
        {{> includes/_modals/user-balance }}
        {{> includes/_modals/leaderboard }}
        {{> includes/_modals/cashier }}
        {{> includes/_modals/template }}
        {{> includes/_modals/credits }}

        {{!-- interface include --}}
        {{> includes/_layout/ui }}

        {{!-- home page --}}
        <div id="home" class="home">
            {{> includes/_layout/menu }}
            <div id="leaderboard"></div>
            <div id="chat-input"></div>
        </div>

        {{!-- game itself --}}
        <div id="canvas-container" class="canvas-container">
            {{!-- {{> includes/_layout/header }} --}}
            {{> includes/_canvas-ui/player-hub }}
            {{> includes/_canvas-ui/powerups-container }}
            {{> includes/_canvas-ui/playing-info }}
            <!-- <div class="canvas-effects"><img src="/public/img/game/ui/screen-broken1.svg"></div> -->
            <div class="canvas-overlay"></div>
            <canvas id="canvas_02" class="canvas active" style="z-index: 2; pointer-events: none; position: relative;"></canvas>
            <canvas id="canvas" class="canvas" style="z-index: 1"></canvas>
        </div>

         {{!-- {{> includes/_layout/footer }} --}}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->


        <!-- sería recomendable remover el CDN de acá, considerar que va a ser packeado para desk -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
        <!-- sería recomendable remover el CDN de acá, considerar que va a ser packeado para desk -->
        <script src="./js/shared/Constants.js"></script>
        <script src="./js/shared/Util.js"></script>
        <script src="./js/shared/base.js"></script>
        <script src="./js/game/Chat.js"></script>
        <script src="./js/game/Drawing.js"></script>
        <script src="./js/game/Game.js"></script>
        <script src="./js/game/Input.js"></script>
        <script src="./js/game/Leaderboard.js"></script>
        <script src="./js/game/ViewPort.js"></script>
        <script src="./js/cookies.min.js"></script>
        <script src="./js/sound.js"></script>
        <script src="./js/forge-sha256.min.js"></script>

        <script src="./js/jquery-3.3.1.min.js"></script>
        <script src="./js/qrcode.js"></script>
        <script src="./js/client.js"></script>
        <script src="./js/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./js/main.js"></script>
    </body>
</html>
